@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>Money</h1>
<p>A simple console expense manager software written in C#.</p>
<p>Website: <a href="https://github.com/webmaster442/Money" target="_blank">https://github.com/webmaster442/Money</a></p>
