@page
@model ErrorDbModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An error occurred while processing your request.</h1>

<h2>Failed to update the db - @Model.Error</h2>
<p>
    The changes you made were not saved.
</p>
