body {
    font-family: Open Sans, Arial;
    color: #454545;
    font-size: 1em;
    margin: 2em auto;
    max-width: 1024px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify
}

a {
    color: #07a
}

a:visited {
    color: #941352
}

details summary {
    font-size: 1.5em;
    margin-bottom: 10px;
}

    details summary pre {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

    details summary p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

table {
    width: 100%;
}

td,
th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

tr:hover {
    background-color: coral;
}